<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="DevPrompt.Api" publicKeyToken="19bc3e3d1db2ab26" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.11.0.0" xmlns:v="DevPromptVersion" newVersion="1.11.0.0" />
                <codeBase xmlns:v="DevPromptVersion" version="1.11.0.0" href="DevPrompt.Api.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="DevPrompt.ProcessWorkspace" publicKeyToken="19bc3e3d1db2ab26" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.11.0.0" xmlns:v="DevPromptVersion" newVersion="1.11.0.0" />
                <codeBase xmlns:v="DevPromptVersion" version="1.11.0.0" href="DevPrompt.ProcessWorkspace.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Efficient.Json" publicKeyToken="19bc3e3d1db2ab26" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.1.4.0" newVersion="1.1.4.0" />
                <codeBase version="1.1.4.0" href="Efficient.Json.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
                <codeBase version="5.0.0.0" href="System.Composition.AttributedModel.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.Convention" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
                <codeBase version="5.0.0.0" href="System.Composition.Convention.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
                <codeBase version="5.0.0.0" href="System.Composition.Hosting.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
                <codeBase version="5.0.0.0" href="System.Composition.Runtime.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
                <codeBase version="5.0.0.0" href="System.Composition.TypedParts.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.18.0.315" newVersion="2.18.0.315" />
                <codeBase version="2.18.0.315" href="Microsoft.ApplicationInsights.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
                <codeBase version="4.0.3.0" href="System.Buffers.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
                <codeBase version="5.0.0.0" href="System.Diagnostics.DiagnosticSource.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
                <codeBase version="4.0.1.1" href="System.Memory.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
                <codeBase version="4.1.4.0" href="System.Numerics.Vectors.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
                <codeBase version="5.0.0.0" href="System.Runtime.CompilerServices.Unsafe.dll" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
