<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include "variables.wxi"?>
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="Main" Guid="$(var.Id_Main)">
                <CreateFolder />
                <RemoveFile Id="RemoveStateFiles" Name="*.xml" On="uninstall"/>
                <RemoveFile Id="RemoveLogFiles" Name="*.log" On="uninstall"/>
                <RemoveFolder On="uninstall" Id="INSTALLDIR" />

                <RegistryValue Root="HKCU" Key="$(var.RegistryRootKey)" Type="string" Name="InstallVersion" Value="$(var.ProductVersion)" KeyPath="yes"/>
                <RegistryValue Root="HKCU" Key="$(var.RegistryRootKey)" Type="string" Name="InstallDir" Value="[INSTALLDIR]" />

                <File Source="$(var.Bin64)DevInjector64.exe" />
                <File Source="$(var.Bin64)DevInject64.dll" />
                <File Source="$(var.Bin64)DevNative64.dll" />
                <File Source="$(var.Bin32)DevInjector32.exe" />
                <File Source="$(var.Bin32)DevInject32.dll" />
                <File Source="$(var.Bin32)DevNative32.dll" />

                <File Source="$(var.Bin64)DevPrompt.exe">
                    <Shortcut Id="StartMenuDevPrompt" Directory="ProgramMenuFolder" Name="$(var.ProductName)" />
                </File>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
