<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include "variables.wxi"?>
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="Folder" Guid="$(var.Id_Folder)">
                <CreateFolder />
                <RemoveFolder On="uninstall" Id="INSTALLDIR" />
                <RegistryValue Root="HKCU" Key="$(var.RegistryRootKey)" Type="string" Name="InstallDir" Value="[INSTALLDIR]" KeyPath="yes" />
            </Component>

            <Component Id="Main" Guid="$(var.Id_Main)">
                <File Source="$(var.Bin64)DevInjector64.exe" />
                <File Source="$(var.Bin64)DevInject64.dll" />
                <File Source="$(var.Bin64)DevNative64.dll" />
                <File Source="$(var.Bin32)DevInjector32.exe" />
                <File Source="$(var.Bin32)DevInject32.dll" />
                <File Source="$(var.Bin32)DevNative32.dll" />
                <File Source="$(var.Bin64)DevPrompt.exe" />

                <File Source="$(var.Bin64)System.Composition.AttributedModel.dll" />
                <File Source="$(var.Bin64)System.Composition.Convention.dll" />
                <File Source="$(var.Bin64)System.Composition.Hosting.dll" />
                <File Source="$(var.Bin64)System.Composition.Runtime.dll" />
                <File Source="$(var.Bin64)System.Composition.TypedParts.dll" />

                <RegistryValue Root="HKCU" Key="$(var.RegistryRootKey)" Type="string" Name="InstallVersion" Value="$(var.ProductVersion)" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ProgramMenuFolder">
            <Component Id="Shortcut" Guid="$(var.Id_Shortcut)">
                <Shortcut Id="StartMenuDevPrompt" Name="$(var.ProductName)" Target="[INSTALLDIR]DevPrompt.exe" />
                <RegistryValue Root="HKCU" Key="$(var.RegistryRootKey)" Type="integer" Name="MainShortcut" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
