<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include "variables.wxi"?>
    <Fragment>
        <Feature Id="Main" Title="Files" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="INSTALLDIR">
            <ComponentRef Id="Folder" />
            <ComponentRef Id="Main" />
            <ComponentRef Id="Shortcut" />
            <!--<MergeRef Id="VC141_Runtime" />-->
        </Feature>
    </Fragment>
</Wix>
