<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include "variables.wxi"?>
    <Product Id="*" Name="Setup" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.CompanyName)" UpgradeCode="e29215c9-12cb-41e7-acea-a0734996786d">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Property Id="ARPHELPLINK" Value="$(var.ProductLink)" />
        <Property Id="MSIFASTINSTALL" Value="1" />
        <Property Id="WIXUI_INSTALLDIR" Value="PROGRAMDIR" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Run DevPrompt" />
        <Property Id="LicenseAccepted" Value="1" />

        <UIRef Id="WixUI_Minimal" />

        <FeatureRef Id="Main" />
        <FeatureRef Id="StartMenuShortcut" />
    </Product>
</Wix>
