<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include "variables.wxi"?>
    <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.CompanyName)" UpgradeCode="$(var.Id_ProductUpgrade)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." Schedule="afterInstallExecute" />
        <MediaTemplate EmbedCab="yes" />
        <Icon Id="AppIcon" SourceFile="$(var.DevRoot)DevPrompt\appicon.ico" />
        <CustomAction Id="RunApp" FileKey="DevPrompt.exe" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />

        <Property Id="ARPPRODUCTICON" Value="AppIcon" />
        <Property Id="ARPHELPLINK" Value="$(var.ProductLink)" />
        <Property Id="MSIFASTINSTALL" Value="1" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Run DevPrompt" />
        <Property Id="LicenseAccepted" Value="1" />

        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

        <UI>
            <UIRef Id="WixUI_Minimal" />
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="RunApp">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>

        <FeatureRef Id="Main" />
    </Product>
</Wix>
